html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

nav {
  padding: 2rem 0;
  color: white;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

nav span {
  padding-left: 1rem;
}

.menu {
  display: flex;
  align-items: center;
}

ul li {
    display: inline;
    padding: 0 2rem 0 0;
}

header {
   padding-top: 1rem;
   height: 30rem;
   background-image: url("../images/glasses-bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
}

ban {
  display: flex;
  justify-content: flex-end;
}

.banner {
  background-color: white;
  padding: 1.5rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .67rem;
}
