html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}


  /*   Nav Menu Section   */

nav {
  padding: 2rem 0;
  color: white;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

nav span {
  padding-left: 1rem;
}

.menu {
  display: flex;
  align-items: center;
}

ul li {
    display: inline;
    padding: 0 2rem 0 0;
}

header {
   padding-top: 1rem;
   height: 30rem;
   background-image: url("../images/glasses-bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
}

  /*   Banner Section   */

ban {
  display: flex;
  justify-content: flex-end;
}

.banner {
  background-color: white;
  padding: 1.5rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .67rem;
}

  /*   Second Section   */

.supporting {
  display: flex;
  justify-content: center;
}

#vertical {
  width: 3.5rem;
  margin-bottom: 1rem;
}

.iconandtitle img {
  width: 5rem;
  margin-bottom: 1rem;
}

.iconandtitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
}


.iconandtitle h2 {
  line-height: 1.4rem;
}

  /*   Info Section   */

.infocontainer {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
}

p {
  padding: 1rem 0;
  line-height: 1.4rem;
}


  /*  Footer Section   */

footer {
  background-color: azure;
  height: 9.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box img {
  height: 1.5rem;
}

.box {
  display: flex;
  align-items: center;
  margin: 5rem;

}

footer span {
  padding-left: 1rem;
}
